html {
    height: 100%;
}

body {
    height: 100%;
}

#canvas {
    background: #66CCFF;
}

.Canvas {
    /*canvasを中央に寄せる*/
    margin-left: calc(50vw - 240px);
    padding-top: calc(50vh - 20%);
   
}

.exp {
    position: fixed;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
    z-index: 3;
    display: none;
}

#title {
    font-size: 60px;
    padding: 0.2em 1em;
    margin: 0.2em 0;
    color: #ffb004;
    background: rgb(162, 242, 248);/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}
.back {
    position: fixed;
    width: 60%;
    height: 70%;
    top: 10%;
    left: 20%;
    background: white;
    z-index: 2;
    border-radius: 30px;
    display: none;
}

.background_1 {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #2017179f;
    z-index: 1;
    display: none;
}

.background {
    height: 100%;
    background: rgb(149, 223, 236);
}

#button {
    position: relative;
    left: 50vw;
    top: 30px;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0.6em 2em;
    text-decoration: none;
    font-weight: bold;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 10px;
    transition: .4s;
}

#button:hover {
    background: #67c5ff;
    color: white;
}

#close {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50vw;
    display: inline-block;
    padding: 0.6em 3em;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border: solid 2px #000000;
    border-radius: 10px;
    transition: .4s;
    z-index: 3;
    display: none;
}

#close:hover {
    background: #333333;
    color: white;
}
